<!DOCTYPE html>
<html>
  <head>

    <title>Juju & Jaja, créations fait main </title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta name="description" content="Découvrez Vibes Resort, nouvelle résidence de standing à vocation touristique située dans le village naturiste du Cap d'Agde. De la chambre T1 à la suite 4 pièces. Contactez-nous !" />

    <script src="https://kit.fontawesome.com/2f609438b2.js" crossorigin="anonymous" defer></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <meta content="" name="keywords">



    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface" rel="stylesheet">


  </head>

  <body>


      <!-- ======= Navbar ======= -->
      <nav id="main-nav">
        <div class="row">
          <div class="container">

            <div class="logo">
              <a href="index.html"><%= image_tag("logo4.png")%></a>
            </div>

            <div class="responsive"><i data-icon="m" class="ion-navicon-round"></i></div>

            <ul class="nav-menu list-unstyled">
              <li><a href="<%=root_path%>" class="smoothScroll">Accueil</a></li>
              <li><a href="#about" class="smoothScroll">Mes créations</a></li>
              <li><a href="<%= actualite_index_path%>" class="smoothScroll">Mes actus</a></li>
              <li><a href="#contact" class="smoothScroll">Contact</a></li>
            </ul>

          </div>
        </div>
      </nav><!-- End Navbar -->


    <%= yield %>


    <!-- ======= Contact Section ======= -->

    <div id="contact">

          <div class="row">

            <div class="col-lg-6 zebre" style="background-image: url(<%= asset_path 'nimes.jpg'%>); background-position:top;">
            </div>


            <div class="col-lg-6 zebre" style="background-image: url(<%= asset_path "zebre.png"%>); padding-top:6em; padding-bottom:6em; ">


              <h2 class="pl-4 pb-4 mb-4 titre-categorie" >Contactez-moi !</h2>

              <div class="container php-email-form">
                <div class="row pl-4 pr-4">


                  <% flash.each do |type, msg| %>
                    <div class="alert alert-info margin-top:100px; " style="z-index:1">
                      <%= msg %>
                    </div>
                  <% end %>

                  <%= form_tag url_for(contact_index_path), :contact => @contact, method: 'post' do %>
                    <div class="row pl-4 pr-4">

                      <div class="col-lg-6">
                        <div class="form-group contact-block1">
                          <%= text_field_tag 'name', nil, placeholder: 'Nom*', class:"form-control" %>
                        </div>
                      </div>

                      <div class="col-lg-6">
                        <div class="form-group">
                          <%= text_field_tag 'firstname', nil, placeholder: 'Prénom*', class:"form-control" %>
                        </div>
                      </div>

                      <div class="col-lg-6">
                        <div class="form-group">
                          <%= text_field_tag 'phone', nil, placeholder: "Téléphone-portable", class:"form-control" %>
                        </div>
                      </div>

                      <div class="col-lg-6">
                        <div class="form-group">
                          <%= text_field_tag 'email', nil, placeholder: "E-mail*", class:"form-control" %>
                        </div>
                      </div>

                      <div class="col-lg-12">
                        <div class="form-group">
                          <%= text_area_tag 'message', nil, placeholder: "Message", rows:"10", class:"form-control" %>
                        </div>
                      </div>


                      <div class="col-lg-12">
                        <%= submit_tag "    Envoyer    ", class: "btn btn-outline-primary", style:"border-radius:20px;" %>
                        <%end%>
                      </div>

                    </div>
                  </div>
                </div>


            </div>
          </div>

    </div><!-- End Contact Section -->





      <!-- ======= Footer ======= -->
      <div id="footer" class="text-center">
        <div class="container">

          <div class="row">

            <div class="col-sm-12 col-md-12 col-lg-3">
              <p><i class="fas fa-phone pr-2"></i>  06 66 66 66 66</p>
            </div>

            <div class="col-sm-12 col-md-12 col-lg-3">
              <p><i class="far fa-envelope pr-2"></i> juju@jaja.com</p>
            </div>

            <div class="col-sm-12 col-md-12 col-lg-3">
              <p><i class="fas fa-map-marker-alt pr-2"></i> Nîmes</p>
            </div>

            <div class="col-sm-12 col-md-12 col-lg-3">
              <div class="socials-media text-center">

                <ul class="list-unstyled">
                  <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                  <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                </ul>

              </div>
            </div>

          </div>

          <div class="credits">
            &copy; 2020. Made with ♡
          </div>

        </div>
      </div><!-- End Footer -->


  </body>
</html>
